export default {
    apiKey: "AIzaSyCoWwSo1UkjGA9vT36w0GvpH75R6yAnrFg",
    authDomain: "start-project-854ab.firebaseapp.com",
    databaseURL: "https://start-project-854ab.firebaseio.com",
    projectId: "start-project-854ab",
    storageBucket: "start-project-854ab.appspot.com",
    messagingSenderId: "860250614782"
}